# ===============================
# DATABASE - MySQL
# ===============================

DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=usuario
DB_PASSWORD=senha
DB_DATABASE=database
DB_SSL=false


# ===============================
# LERA BOX / GATEWAY
# ===============================

LERA_BOX_BASE_URL=https://api.branchpay.com.br/api


# ===============================

# SECURITY
# ===============================

TOKEN_ENCRYPTION_KEY=change_me


# ===============================
# AUTH - JWT
# ===============================

JWT_SECRET=change_me
JWT_EXPIRES_IN=2h


# ===============================
# SERVER
# ===============================

PORT=3000
